.DatatypeWidget {
    background-color: red;
}

.DatatypeWidgetCategory {
    background-color: green;
}

#widget_dataTypeSelect {
    font-size: 10pt;
}
/* #_categorySelect {
    background-color: yellow;
} */