.DatatypeWidget {
    background-color: gray;
    padding: 10px;
}

.DatatypeWidget-label {
    font-size: medium;
}

.DatatypeWidget-text {
    padding-top: 5px;
    padding-bottom: 5px;
}

#widget_dataTypeSelect {
    font-size: 10pt;
}
